@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#middle-page{
    margin-bottom: 0px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.footer{
    margin-top: 10px;
    width: 100%;
    position: relative;
}



footer{
    display: flex;
    

}


header{
    display: flex;
}

.btnSys{
    border-radius: 15px;
    cursor: pointer;
    margin-top: 1rem;
}

.btnControl-fechar{
    border-radius: 15px;
    cursor: pointer;
    margin-top: 1rem;
    border: 1px solid transparent;
    margin-top: 1rem;
    transition: background-color 0.7s;
}

.btnControl-fechar:hover{
    background-color: #ed0e20;
    border: 1px solid white;
    color: white;
}

.btnControl{
    border-radius: 15px;
    cursor: pointer;
    margin-top: 1rem;
    border: 1px solid transparent;
    margin-top: 1rem;
    transition: background-color 0.7s;
    color: white;
}

.btnControl:hover{
    background-color: #12c939;
    border: 1px solid white;
    color: white;
}

.ratingstars{
    margin-top: 10px;
}
.btn-primary{
    background-color: #FB5F2E;
    border: 1px solid transparent;
    margin-top: 1rem;
    transition: background-color 0.7s;
}

.btn-primary:hover{
    background-color: #549DB4;
    border: 1px solid white;
    color: black;
}

.btn-secondary{
    background-color: #549DB4;
    border: 1px solid transparent;
    margin-top: 1rem;
    transition: background-color 0.5s;
}


.btn-secondary:hover{
    background-color: #FB5F2E;
    border: 1px solid white;
    color: black;
}

#btnTest{
    float: right;
    margin-left: 5px;
    text-transform: uppercase;

}

.cad-log{
    margin-left: 500px;
    padding-bottom: 20px;
    padding-top: 0px;
    
}


.footer h1{
    margin-top: 15px;
    margin-bottom: 10%;
    font-size: 140%;
}

.rede-social{
    margin:50px auto;
    width: 360px;
    height: 150px;
    position: relative;
 
}

.infos{
    width: 100%;
    position: relative;
}


.rede{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 20px;
    transition: all 0.4s ease-out;
    border-radius: 50%;
    
}

.rede:hover{
    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 4px 30px 16px 0px rgba(50,50,50,0.45);
}

.rede#facebook{
    background-color: #2372A3;
}

.rede#instagram{
    background-color: #3f729b;
}   



.rede#youtube{
    background-color: red;
}

.icone{
    margin: 0px auto;
    padding: 35px;
    width: 100px;  
}

.copy{
    font-size: 10px;
    text-align: center;
    color: black;
}

/* avaliação */
.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}


 
.quick-links{
    text-align: center;
}

@media screen and (max-width:374px){
    .redes{
        display: none;
    }

    .cad-log{
        display: none;
    }

    #footer-about{
        text-align: end;
        color: black;
    }
    
    
}

@media screen and (min-width:375px) and (max-width:768px){
    #titleMidia{
        text-align: center;
    }

    .cad-log{
        display: none;
    }
    #footer-about{
        text-align: end;
        color: black;
    }
    
    
}



@media screen and (min-width:769px) and (max-width:991px){
    #titleMidia{
        text-align: center;
    }
    #footer-about{
        text-align: inherit;
        color: black;
    }
    .cad-log{
        display: none;
    }
}

@media screen and (min-width:992px) and (max-width:1028px){
    #footer-about{
        text-align: inherit;
        color: black;
    }
    
    .collapse button{
        display: none;
    }

    .rede-social{
        width: 200px;
        display: contents;
        
    }
    
    .rede#instagram{
        margin-left: 75px;
    }

    .rede{
        margin-bottom: 10px;
    }
   
}

@media screen and (min-width:1029px){
    #footer-about{
        text-align: inherit;
        color: black;
    }
    .menu1 button{
        display: none;
    }
    
    .rede{
        margin-bottom: 10px;
    }
    .follow-us{
        align-items: center;
    }
}

